.attributes-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-attributes-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.attribute-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    div {
        margin-right: var(--double-margin);
    }
}

.room-configurator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--double-margin);
    margin-bottom: var(--double-margin);
}