.container {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    padding: var(--single-margin);
}

.text {
    padding: var(--double-margin);
    border: 1px solid var(--neon-red);
    box-shadow: 0 0 10px rgba(255, 7, 58, 0.6);
    animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 10px rgba(255, 7, 58, 0.6);
    }

    to {
        box-shadow: 0 0 20px rgba(255, 7, 58, 1);
    }
}

.yellow {
    color: var(--neon-yellow);
}

.red {
    color: var(--neon-red);
}