.container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table {
    margin: 0 auto;
}

/* .table-header {

} */

.table-header-row {
    display: grid;
    border-bottom: 1px solid var(--neon-red);
}

.table-header-cell {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: var(--double-margin);
    padding-bottom: var(--double-margin);
} 

/* .table-body {
   
}  */

.table-row {
    display: grid;
    border-bottom: 1px solid var(--neon-red);
}

.table-cell {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: var(--double-margin);
    padding-bottom: var(--double-margin);
} 

.total-percentage-room {
    padding-left: 10px;
    color: var(--neon-yellow);
}

.column-percentage {
    color: var(--neon-yellow);
    padding-left: 10px
}

.grand-total-percent {
    color: var(--neon-green);
    padding-left: 10px
}