.input-grid-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.input-grid-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}